      <!-- Start Landing Page -->
      <div class="landing-page">
        <header>
          <div class="container">
            <a href="#" class="logo">Wave<b>Gen</b>-IoT</a>
            <ul class="links">
              <li><a>Acerca de</a></li>
              <li routerLink="/login">Ingresar</li>
            </ul>
          </div>
        </header>
        <div class="content">
          <div class="container">
            <div class="info">
              <h1>¡Bienvenido!</h1>
            <p>Nuestro objetivo es proporcionar una experiencia educativa única, que simula de cerca un entorno experimental real. ¿Qué significa esto para ti? Significa que tendrás el control del generador de funciones desde cualquier ubicación que elijas. Esta capacidad es invaluable cuando necesitas realizar pruebas en lugares inaccesibles o fuera del entorno universitario.</p>
            </div>
            <div class="image">
              <img src="../../../../assets/wavegeniot.svg">
            </div>
          </div>
        </div>
      </div>
      <!-- End Landing Page -->